.gif {
    display: inline-block;
    margin: 3px;
}
#form {
    display: inline-block;
    float: right}

#gifs-appear-here {
    display: inline-block;
    float: right;
    }

@media screen and (max-width:640px) {
    
}
