.gif {
    display: inline-block;
    margin: 3px;
}
#form {
    display: inline-block;
    float: right}

#smallscreen {
    width: 100%;
}


@media screen and (max-width:640px) {
    #form {
        clear: both;
        margin: auto;
        width: 100%;
        margin-bottom: 3px;
    }
}
